<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks - All</title>
</head>
<body>
    <h1>Pending Tasks:</h1>
    <br>
    {% for task in tasks %}
    {% if not task.completed %} {{forloop.counter}}. {{task}} [{{task.priority}}] <br> 
    {% endif %}
    {% endfor %}
    <h1>Completed Tasks:</h1>
    {% for task in tasks %} 
    {% if task.completed %}{{forloop.counter}}. {{task}} [{{task.priority}}] <br>
    {% endif %}
    {% endfor %}
    <br>
    <a href="/tasks">Return to viewing or adding tasks</a>
    <br>
    <p>Want to <a href = "/user/logout/">logout</a>?
</body>
</html>