{% extends "layouts/layout.html" %}
{% block title %}Login - Todo Manager{% endblock %}
{% block heading %}Todo Manager{% endblock %}
{% block subheading %}Login{% endblock %}
{% block body %}
<form class = "mt-14"action="" method = 'POST'>
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="fieldwrapper">
        {{ form.username.errors }}
        <label class = "font-sans font-light mt-32 ml-1.5 text-2xl" for="{{ form.username.id_for_label }}">Username</label>
        {{form.username}}
    </div>
    <div class="fieldwrapper">
        {{ form.password.errors }}
        <label class = "font-sans font-light mt-32 ml-1.5 text-2xl" for="{{ form.password.id_for_label }}">Password</label>
        {{form.password}}
    </div>
    <div class = "grid place-items-center">
        <button class="bg-red-500 hover:bg-red-700 text-white text-3xl py-2 px-4 rounded-2xl h-20 w-full">Login</button>
    </div>
</form>
<p class="mt-10 text-black text-lg font-sans">Don't have an account? <a href = "/user/signup/" class = "text-red-500">Sign up!</a></p>
{% endblock%}